.autoEvangersSprite1 { background-position:-0px -528px; }
.autoEvangersSprite2 { background-position:-48px -528px; }
.autoEvangersSprite3 { background-position:-96px -528px; }
.autoEvangersSprite4 { background-position:-144px -528px; }
.autoEvangersSprite5 { background-position:-192px -528px; }
.autoEvangersSprite6 { background-position:-240px -528px; }
.autoEvangersSprite7 { background-position:-288px -528px; }
.autoEvangersSprite8 { background-position:-336px -528px; }
.autoEvangersSprite9 { background-position:-384px -528px; }
.autoEvangersSprite10 { background-position:-432px -528px; }