.autoManagersSprite1 { background-position:-0px -336px; }
.autoManagersSprite2 { background-position:-48px -336px; }
.autoManagersSprite3 { background-position:-96px -336px; }
.autoManagersSprite4 { background-position:-144px -336px; }
.autoManagersSprite5 { background-position:-192px -336px; }
.autoManagersSprite6 { background-position:-240px -336px; }
.autoManagersSprite7 { background-position:-288px -336px; }
.autoManagersSprite8 { background-position:-336px -336px; }
.autoManagersSprite9 { background-position:-384px -336px; }
.autoManagersSprite10 { background-position:-432px -336px; }