.autoManagersSprite1 { background-position:-0px -384px; }
.autoManagersSprite2 { background-position:-48px -384px; }
.autoManagersSprite3 { background-position:-96px -384px; }
.autoManagersSprite4 { background-position:-144px -384px; }
.autoManagersSprite5 { background-position:-192px -384px; }
.autoManagersSprite6 { background-position:-240px -384px; }
.autoManagersSprite7 { background-position:-288px -384px; }
.autoManagersSprite8 { background-position:-336px -384px; }
.autoManagersSprite9 { background-position:-384px -384px; }
.autoManagersSprite10 { background-position:-432px -384px; }