.autoDevversSprite1 { background-position:-0px -0px, -48px -0px; }
.autoDevversSprite2 { background-position:-48px -0px, -48px -0px; }
.autoDevversSprite3 { background-position:-96px -0px, -48px -0px; }
.autoDevversSprite4 { background-position:-144px -0px, -48px -0px; }
.autoDevversSprite5 { background-position:-192px -0px, -48px -0px; }
.autoDevversSprite6 { background-position:-240px -0px, -48px -0px; }
.autoDevversSprite7 { background-position:-288px -0px, -48px -0px; }
.autoDevversSprite8 { background-position:-336px -0px, -48px -0px; }
.autoDevversSprite9 { background-position:-384px -0px, -48px -0px; }
.autoDevversSprite10 { background-position:-432px -0px, -48px -0px; }